<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325661041333-5dsd0eh8sjrsh3oahjt49r9f5d061lht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325661041333-5dsd0eh8sjrsh3oahjt49r9f5d061lht</string>
	<key>API_KEY</key>
	<string>AIzaSyDw7Syaztz7WwfawVhfnkRnD0xI4DW9UNE</string>
	<key>GCM_SENDER_ID</key>
	<string>325661041333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myBlog</string>
	<key>PROJECT_ID</key>
	<string>traveler-46e31</string>
	<key>STORAGE_BUCKET</key>
	<string>traveler-46e31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325661041333:ios:6c38d70d239a0c376a14fc</string>
</dict>
</plist>